body{
    color: 3D302D;
    text-align: center;
    font-family: Arial;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}
#cabecera
{
    font-size: 2rem;
    background: purple;
    font-weight: bold;
    color: white;
    text-align: left;
    padding:  0.5rem;
    box-shadow: 0.2rem 0.3rem thistle;
}
#cabecera #tagline
{
    padding: 2rem 0.5rem;
    font-size: 1.5rem;
    font-weight: normal;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid honeydew;
    margin: 0 auto;
}
#container h1
{
    font-size: 3rem;
    color: 4F947B;

}

